################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/classlift_management/.vs
