################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/classlift_management/.vs
/classlift_management/Core/obj/Debug/net8.0/ref/Core.dll
/classlift_management/Core/obj/Debug/net8.0/refint/Core.dll
/classlift_management/Core/obj/Debug/net8.0/Core.AssemblyInfo.cs
/classlift_management/Core/obj/Debug/net8.0/Core.AssemblyInfoInputs.cache
/classlift_management/Core/obj/Debug/net8.0/Core.csproj.FileListAbsolute.txt
/classlift_management/Core/obj/Debug/net8.0/Core.dll
/classlift_management/Core/obj/Debug/net8.0/Core.genruntimeconfig.cache
/classlift_management/Core/obj/Debug/net8.0/Core.pdb
/classlift_management/Core/obj/Debug/net8.0/Core.sourcelink.json
/classlift_management/Test/obj/Debug/net8.0/ref/Test.dll
/classlift_management/Test/obj/Debug/net8.0/refint/Test.dll
/classlift_management/Test/obj/Debug/net8.0/Test.AssemblyInfo.cs
/classlift_management/Test/obj/Debug/net8.0/Test.AssemblyInfoInputs.cache
/classlift_management/Test/obj/Debug/net8.0/Test.csproj.FileListAbsolute.txt
/classlift_management/Test/obj/Debug/net8.0/Test.dll
/classlift_management/Test/obj/Debug/net8.0/Test.genruntimeconfig.cache
/classlift_management/Test/obj/Debug/net8.0/Test.pdb
/classlift_management/Test/obj/Debug/net8.0/Test.sourcelink.json
/classlift_management/Core/bin/Debug/net8.0/Core.deps.json
/classlift_management/Core/bin/Debug/net8.0/Core.dll
/classlift_management/Core/bin/Debug/net8.0/Core.pdb
/classlift_management/Test/bin/Debug/net8.0/Test.deps.json
/classlift_management/Test/bin/Debug/net8.0/Test.dll
/classlift_management/Test/bin/Debug/net8.0/Test.pdb
/classlift_management/Web/bin/Debug/net8.0/Core.dll
/classlift_management/Web/bin/Debug/net8.0/Core.pdb
/classlift_management/Web/bin/Debug/net8.0/Web.dll
/classlift_management/Web/bin/Debug/net8.0/Web.exe
/classlift_management/Web/bin/Debug/net8.0/Web.pdb
/classlift_management/Web/bin/Debug/net8.0/Web.staticwebassets.runtime.json
/classlift_management/Web/obj/Debug/net8.0/ref/Web.dll
/classlift_management/Web/obj/Debug/net8.0/refint/Web.dll
/classlift_management/Web/obj/Debug/net8.0/apphost.exe
/classlift_management/Web/obj/Debug/net8.0/rjimswa.dswa.cache.json
/classlift_management/Web/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/classlift_management/Web/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/classlift_management/Web/obj/Debug/net8.0/rpswa.dswa.cache.json
/classlift_management/Web/obj/Debug/net8.0/staticwebassets.build.json
/classlift_management/Web/obj/Debug/net8.0/staticwebassets.build.json.cache
/classlift_management/Web/obj/Debug/net8.0/staticwebassets.development.json
/classlift_management/Web/obj/Debug/net8.0/Web.AssemblyInfo.cs
/classlift_management/Web/obj/Debug/net8.0/Web.AssemblyInfoInputs.cache
/classlift_management/Web/obj/Debug/net8.0/Web.csproj.AssemblyReference.cache
/classlift_management/Web/obj/Debug/net8.0/Web.csproj.CoreCompileInputs.cache
/classlift_management/Web/obj/Debug/net8.0/Web.csproj.FileListAbsolute.txt
/classlift_management/Web/obj/Debug/net8.0/Web.dll
/classlift_management/Web/obj/Debug/net8.0/Web.genruntimeconfig.cache
/classlift_management/Web/obj/Debug/net8.0/Web.pdb
/classlift_management/Web/obj/Debug/net8.0/Web.sourcelink.json
/classlift_management/Web/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/classlift_management/Web/bin/Debug/net8.0/Web.staticwebassets.endpoints.json
/classlift_management/Core/obj
/classlift_management/Test/obj/Debug/net8.0
/classlift_management/Web/obj/Debug/net8.0
/classlift_management/Web/obj/project.assets.json
/classlift_management/Web/obj/project.nuget.cache
/classlift_management/Web/obj/Web.csproj.nuget.dgspec.json
/classlift_management/Web/obj/Web.csproj.nuget.g.props
/classlift_management/Test/obj/project.assets.json
/classlift_management/Test/obj/project.nuget.cache
/classlift_management/Test/obj/Test.csproj.nuget.dgspec.json
/classlift_management/Test/obj/Test.csproj.nuget.g.props
/classlift_management/Web/bin/Debug/net8.0/appsettings.json
/classlift_platform/.vs
/classlift_platform/bin/
/classlift_platform/obj/