<form method="post">
    <h2>Login</h2>

    <input name="email" placeholder="Email" />
    <input name="password" type="password" placeholder="Password" />

    <button type="submit">Login</button>

    <p style="color:red">@ViewBag.Error</p>
</form>
